body {
    font-family: 'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
    margin: 0;
    padding: 2%;
    background-color: rgb(212, 236, 255);
}

#h1 {
    width: 100%;
    display: inline-flex;
    height: 10%;
    padding-bottom: 2%;
}
h1 {
    color: rgb(64, 52, 191);
    margin: auto;
    text-align: center;
    text-shadow: 0 0 10px rgb(100, 119, 211);
}
h3 {
    font-size: larger;
    color: rgb(55, 54, 54);
}

a{
    text-decoration: none;
    color: rgb(6, 142, 6);
}
a:hover {
    color: deeppink;
}

button {
    background-color: rgb(153, 189, 252);
    border-radius: 10px;
    padding-right: 5%;
    padding-left: 5%;
    text-align: center;
}
button:hover {
    background-color: rgb(233, 252, 193);
    color:rgb(77, 136, 116)
}

.row {
    width: 100%;
    display: inline-flex;
    margin: 5px;
    align-items: center;
    justify-items:  left;
    justify-content: space-around;
    border-style: double;
}

#pic-box {
    width: 20%;
    height: 20%;
}
#pic {
    width: 100%;
    height: 100%;
    border-radius: 100%;
    border: 2px solid rgb(43, 41, 41);
}

#personalInformation {
    width: 50%;
    box-sizing: auto;
    text-align: left ;
    padding: 20px;
    padding-left: 40px;
    border-left-style: double;
}

.education {
    width: 40%;
    text-align: left;
    padding: 30px;
}

#goal {
    width: 40%;
    text-align: left;
    padding: 30px;
}

#skill {
    width: 60%;
    box-sizing: auto;
    text-align: left ;
    padding: 20px;
    padding-left: 40px;
}
#skills {
    display: none;
}

#award {
    width: 60%;
    padding: 30px;
}

#experience {
    width: 40%;
    padding: 30px;
}
#expo {
    display: none;
}

#course {
    width: 40%;
    padding: 30px;
}

#toggle-experience {
    justify-content: left;
}


@media only screen  and (max-width: 500px){
    .row {
        width: 100%;
        margin: 0;
        display: block;
    }
    #pic-box {
        width: 95%;
    }
    #pic {
        width: 100%;
        height: 100%;
        border-radius: 80px;
    }
    #course, #experience, #personalInformation, #goal, #skill, #award{
        width: 95%;
        padding: 5px;
    }
    
    .education {
        width: 95%;
        padding: 5px;
    }

    a{
        text-decoration: none;
        color: rgb(6, 142, 6);
    }
    a:hover {
        color: deeppink;
    }

}
