body {
    font-family: 'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
    margin: 0;
    padding: 2%;
    background-color: rgb(133, 58, 58);
}

#h1 {
    width: 100%;
    display: inline-flex;
    height: 10%;
    padding-bottom: 2%;
}
h1 {
    color: rgb(170, 255, 0);
    margin: auto;
    text-align: center;
    text-shadow: 0 0 10px rgb(244, 247, 228);
}

a{
    text-decoration: none;
    color: rgb(6, 142, 6);
}
a:hover {
    color: deeppink;
}

button {
    background-color: rgb(123, 247, 241);
    border-radius: 100%;
    padding-right: 10%;
    padding-left: 10%;
    text-align: center;
}
button:hover {
    background-color: rgb(175, 255, 1);
    color:rgb(77, 136, 116)
}

.row {
    width: 100%;
    display: inline-flex;
    margin: 5px;
    justify-items:  left;
}

#pic-box {
    width: 40%;
    height: 40%;
    border-radius: 30px;
    border: 5px solid white;
    background-color: rgb(180, 122, 45);
    
}
#pic {
    width: 100%;
    height: 100%;
    border-radius: 80px;
}

#personalInformation {
    width: 60%;
    box-sizing: auto;
    background-color: aquamarine;
    border: 5px solid white;
    border-radius: 30px;
    text-align: left ;
    padding: 20px;
    padding-left: 40px;
}

.education {
    width: 40%;
    border: 5px solid white;
    border-radius: 30px;
    background-color: rgb(195, 255, 117);
    text-align: left;
    padding: 30px;
}

#goal {
    width: 40%;
    border: 5px solid white;
    border-radius: 30px;
    background-color: rgb(92, 174, 250);
    text-align: left;
    padding: 30px;
}

#skill {
    width: 60%;
    box-sizing: auto;
    background-color: rgb(223, 127, 255);
    border: 5px solid white;
    border-radius: 30px;
    text-align: left ;
    padding: 20px;
    padding-left: 40px;
}
#skills {
    display: none;
}

#award {
    width: 60%;
    padding: 30px;
    border-radius: 30px;
    border: 5px solid white;
    background-color: rgb(255, 241, 88);
}

#experience {
    width: 40%;
    padding: 30px;
    border-radius: 30px;
    border: 5px solid white;
    background-color: rgb(255, 113, 194);
}
#expo {
    display: none;
}

#course {
    width: 40%;
    padding: 30px;
    border-radius: 30px;
    border: 5px solid white;
    background-color: rgb(255, 149, 0);
}

#toggle-experience {
    justify-content: left;
}


@media only screen  and (max-width: 500px){
    .row {
        width: 100%;
        margin: 0;
        display: block;
    }
    #pic-box {
        width: 95%;
    }
    #pic {
        width: 100%;
        height: 100%;
        border-radius: 80px;
    }
    #course, #experience, #personalInformation, #goal, #skill, #award{
        width: 95%;
        padding: 5px;
    }
    
    .education {
        width: 95%;
        padding: 5px;
    }

    a{
        text-decoration: none;
        color: rgb(6, 142, 6);
    }
    a:hover {
        color: deeppink;
    }

}
